body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.intro {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  z-index: 10;
}

.hero-img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.4);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 5;
}

.search-input {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 12px;
}

.hero-txt {
  font-size: 1rem;
}
.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.carousel-img {
  height: 600px;
  object-fit: cover;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 4;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}
.caption {
  font-size: 1rem;
  font-weight: 2800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.trending {
  height: auto;
  background: url("../assets/images/bg/scifi.jpg");
  background-size: cover;
}

.superhero {
  height: auto;
  background: url("../assets/images/bg/spiderman.jpg");
  background-size: cover;
}

.movieWrapper {
  margin-bottom: 30px;
}

.movieImage {
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 400px;
  width: auto;
  object-fit: cover;
}
